.intro{
  text-align: center;
  text-shadow: .5;
  display: block;
  margin: auto;
}

a{
  color: white;
}

body{
  font-family: sans-serif;
  background-image: url("/Users/Guest/desktop/pet-website/img/Rosefield.jpg");
  color: white;
  background-size: cover;
}

h1{
  font-weight: bolder;
}

ul{
  font-family: monospace;
  font-size: 20px;
}

img{
  height: 150px;
  line-height: 25px
}

#paws{
  height: 25px;
}

#map{
  height: 400px;
}
